{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/extensions": [
      ".js"
    ]
  },
  "rules": {
    "import/no-dynamic-require": 0,
    "global-require": 0
  }
}
